<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.zenrin.music.player">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name="jp.co.zenrin.music.player.HondaPlayApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_honda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <!-- Service register-->
        <service android:name="jp.co.zenrin.music.service.MediaPlayerService" android:enabled="true"/>

        <!-- Activity register-->
        <activity android:name="jp.co.zenrin.music.player.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="jp.co.zenrin.music.player.ControllerActivity"
                  android:parentActivityName="jp.co.zenrin.music.player.MainActivity"/>
        <activity android:name="jp.co.zenrin.music.player.MusicPlayActivity" />
        <activity android:name="jp.co.zenrin.music.player.PlayScreenActivity"
                  android:parentActivityName="jp.co.zenrin.music.player.MainActivity"/>
        <activity android:name="jp.co.zenrin.music.player.RadioPlayer"></activity>
        
        <activity android:name="jp.co.zenrin.music.player.MusicArrangeActivity"
            android:parentActivityName="jp.co.zenrin.music.player.PlayScreenActivity"></activity>
        <activity android:name="jp.co.zenrin.music.player.ArrangeActivity"
            android:parentActivityName="jp.co.zenrin.music.player.PlayScreenActivity"></activity>
        <service
            android:name="jp.co.zenrin.music.service.MusicService"
            android:enabled="true"
            android:exported="true"></service>

    </application>

</manifest>