<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.honda.music.player">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".HondaPlayApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_honda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Service register -->
        <service
            android:name="jp.co.honda.music.service.MediaPlayerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="jp.co.honda.music.service.MusicService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="jp.co.honda.music.service.AINotificationIntentService"
            android:exported="false" />

        <!-- Receiver register -->
        <receiver android:name="jp.co.honda.music.notification.AIRecommendReceiver" />

        <!--
        When device reboot , change date time.
        The broadcast will be re-created to adapt new system info
        Just comment out on this version
        <receiver android:name="hondamusic.notification.HondaSystemReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        -->
        <!-- Activity register -->
        <activity android:name=".HomeBaseFragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicPlayActivity" />
        <activity android:name=".AIMixAudio" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RadarMusicActivity" />

        <service
            android:name="jp.co.honda.music.service.DialogNotifyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>