<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.zenrin.music.player">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".HondaPlayApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_honda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <!-- Service register -->
        <service
            android:name="jp.co.zenrin.music.service.MediaPlayerService"
            android:enabled="true" />
        <service
            android:name="jp.co.zenrin.music.service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <!-- Activity register -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ControllerActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MusicPlayActivity" />
        <activity
            android:name=".PlayScreenActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RadioPlayer" />
        <activity
            android:name=".MusicArrangeActivity"
            android:parentActivityName=".PlayScreenActivity" />
        <activity
            android:name=".ArrangeActivity"
            android:parentActivityName=".PlayScreenActivity" />
        <activity android:name=".AIMixAudio"></activity>
    </application>

</manifest>